{% load static %}
<html>
<head>
<title>E-Voting System Using Ethereum Blockchain</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;	
	if(x == null || x==""){
		window.alert("Please enter candidate id");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><font color="orange" size=6>E-Voting System Using Ethereum Blockchain</font></h1>
	  <marquee><font color="pink" size=4>E-Voting System Using Ethereum Blockchain</font></marquee>
    </div>
   
  
    </div>
  </div>
  <div id="menu">
    <ul>
	<li><a href="{% url 'ViewCount' %}">View Vote Count</a></li> 
      <li><a href="{% url 'index' %}">Logout</a></li>      
   </ul>
  </div>
  <div class="entry">
   <br/><br/><br/>
	
	 
	 <center><font size="3" color="white">View Vote Count Screen</font></center>
     {{data|safe}}
</div>

</body>
</html>
